/* This is basic styling */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    list-style: 1.5;
    color: black ;
    background-color: white;
}

img {
    max-width: 100%;
}

.logo {
    font-weight: 900;
}

h1, h2, {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* This is Navbar styling */

.navbar {
    background-color: #1F2937 ;
    color: #F9FAF8;
    height: 60px;
}

.navbar .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:400;
}

.navbar a { 
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: blueviolet;
}

.navbar .container {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

/* This is hero/header styling */

.header { 
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
}

.header h1 { 
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    
}

.header p {
    font-size: 18px;
    padding-right: 10px;
}

.header img {
    max-width: 400px;
}

.header button {
    margin: 15px 0px;
    padding: 5px 25px;
    background-color: #3882F6;
    border-radius: 7px;
    color: #F9FAF8;
    font-weight: 600;
    border: none;
}

.header .container {
    display: flex;
    align-items: center;
}

/* This is info/boxes styling */

.boxes .info-header {
    color: #1F2937;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    padding: 20px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
}

.box p {
    color: grey;
    font-size: 12px;
    text-align: center;
}

.box img {
    max-width: 200px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

/* This is quote styling */

.quote { 
    background-color: #e5e7eb;
    padding: 20px;
}

.quote .container {
    display: flex;
    flex-direction: column;
}

.quote .quote-main {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 50px;
}

.quote .quote-source {
    text-align: end;
    padding-right: 50px;
    margin-top: -20px;
}

/* This is the call to action styling */

.call-to-action {

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.call-to-action .container {
    background-color: #3882F6;
    color: #e5e7eb;
    display: flex;
    margin: 60px;
    padding: 35px 25px;
    border-radius: 10px;
    justify-content: space-around;
}

.cta-text-main {
    font-size: 24px;
}

.call-to-action button {
    padding: 0 35px;
    border-radius: 7px;
    color: #F9FAF8;
    font-weight: 600;
    border: none;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
}

/* This is the footer styling */

.footer {
    background-color:#1F2937;
    color:#e5e7eb;
    display: flex;
    text-align: center;
    height: 60px;
    justify-content: center;
    align-items: center;
}

